<form class="form-group mt-5" [formGroup]="formChoixClient" (ngSubmit)="formChoixClient.valid && onSubmit()">
  <div class="mb-2 col-6 w-100 d-flex flex-column justify-content-center">
    <button type="button" class="col-10 btn btn-info">
      Selectionner le client
    </button>
    <select class="btn btn-outline-primary col-10 border border-primary" formControlName="clientChoisi"
    (change)="getClient(formChoixClient.get('clientChoisi').value)">
      <option *ngFor="let item of client;let i=index" >
        {{item.nom | uppercase}}
      </option>
    </select>
  </div>
</form>
<div class="mb-2 col-6 w-100 d-flex mt-3 ">
  <button type="button" class="col-10 btn btn-info" (click)="ajoutChamp()">
    Ajouter un produit
  </button>
</div>
<form class="form-group mt-5" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">

  <div formArrayName="champ" class="d-flex col-12 justify-content-center align-items-center flex-column">

    <div *ngFor="let item of champ.controls; let i=index">
      <div [formGroupName]="i" class="row mb-5">

        <div class="d-flex col ml-3 flex-column justify-content-center">
          <label class="col-2">Désignation</label>
          <select class="form-control col" type="text" formControlName="designation"
            (change)="getPrice(form.get('champ').value[i].designation,i)">
            <option *ngFor="let prod of produit">{{prod.designation| uppercase}}</option>
          </select>
        </div>

        <div class="d-flex col ml-3 flex-column justify-content-center">
          <label class="col-md-2">Quantité</label>
          <input class="form-control col" type="number" formControlName="quantite">
        </div>

        <div class="d-flex col ml-3 flex-column justify-content-center">
          <label class="col-2">Prix/U</label>
          <input class="form-control col" type="number" formControlName="prixUnitaireHT">
        </div>

        <div class="d-flex col ml-3 flex-column justify-content-center">
          <label class="col-2 mt-3">Total HT</label>
          <input class="form-control col" readonly="readonly"
            value="{{form.get('champ').value[i].quantite * form.get('champ').value[i].prixUnitaireHT}} €">
        </div>
        <button type="button" class="btn btn-info" [disabled]="!form.valid" (click)="validLigne(i)">Valider mon
          article</button>
        <button class="btn btn-danger" (click)="suppChamp(i)">Supprimer</button>
      </div>
    </div>
  </div>

  <div class="row justify-content-around" *ngFor="let item of tableauLigneDeFacture">
    <div class="column">
      <label for="">Designation</label>
      <p>{{item.designation | uppercase}}</p>
    </div>
    <div class="column">
      <label for="">Quantiter</label>
      <p>{{item.quantite}}</p>
    </div>
    <div class="column">
      <label for="">Prix HT</label>
      <p>{{item.prix }} €</p>
    </div>
    <div class="column">
      <label for="">Total HT</label>
      <p>{{item.quantite * item.prix }} €</p>
    </div>
    <div class="column">
      <label for="">Total TTC</label>
      <p>{{item.quantite * item.prix * 1.2 }} €</p>
    </div>
    <div class="column">
      <label for="">TVA</label>
      <p>20% €</p>
    </div>
  </div>
  <div *ngIf="champ.controls.length > 0">
    Total TTC:{{totalFactureTTC}}
  </div>

  <p class="d-flex justify-content-center" *ngIf="champ.controls.length > 0">

    <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Valider ma facture</button>
  </p>

</form>
<hr class="divider margin">
<hr class="divider margin">

<div class="d-flex justify-content-around mb-5" >                     
  <button class="btn btn-info">Envoyer un email</button>
</div>