<div class="row">
  <div class="col d-flex justify-content-center mb-5">
    <h1 class="">MA FACTURE</h1>
  </div>
</div>

<!-- CONNEXION -->
<div class="mx-auto " style="width: 500px ">
  <div class="form">
    <h1>Mon profil</h1>
    <p>NOM : {{user.name}}</p>
    <p>PRENOM :{{user.firstName}}</p>
    <p>EMAIL :{{user.email}}</p>
    <p>DATE DE NAISSANCE :{{user.dateOfBirth}}</p>
  </div>
</div>

<!-- menu pour voir les factures -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Toutes les factures</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="navbar-brand active">
        <a class="nav-link" href="#">Payées <span class="sr-only">(current)</span></a>
      </li>
      <li class="navbar-brand active">
        <a class="nav-link" href="#">Non payée</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Chercher une facture" aria-label="Chercher">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- la liste des factures -->

<table class="table mt-5">
  <thead class="thead">
    <tr>
      <th class="invoice-head-invoice">Facture </th>
      <th class="invoice-head-invoice">Client</th>
      <th class="invoice-head-state">Date</th>
      <th class="invoice-head-total">Solde dû </th>
    </tr>
  </thead>
  <tbody>
    <tr class="invoice-row">
      <td class="invoice-col-id"><span class="invoice-id">FAC0001</span></td>
      <td class="invoice-col-client">Araah</td>
      <td class="invoice-col-date d-none d-sm-table-cell"><span class="localized-date">16 sept. 2021</span>
      </td>
      <td class="invoice-col-state">1000&nbsp;€</td>
      <td class="invoice-col-balance"><span class="currency"><span class="localized-number">1000&nbsp;€</span></span>
      </td>
    </tr>
    <tr class="invoice-row-total">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="d-none d-sm-table-cell">&nbsp;</td>
      <td class="d-none d-sm-table-cell">&nbsp;</td>
      <td colspan="2">
        <div><span class="currency"><span class="currency-prefix">Solde dû </span><span
              class="localized-number">1000&nbsp;€</span></span></div>
      </td>
    </tr>
  </tbody>
</table>