
    <!-- Page 404 -->
    <div class="vh-100" id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column h-100 ">
            <div id="content" class="h-100">
                <div class="container-fluid d-flex h-100 align-items-center justify-content-center">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page non trouvée</p>
                        <p class="text-gray-500 mb-0">l semble que vous ayez trouvé un bug dans la matrice...</p>
                        <a [routerLink]="['/Accueil']">&larr; Retour à l'Accueil</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
