<div  class=" vh-100 d-flex flex-column justify-content-center ">
    <div class="d-flex h-50 justify-content-center">
        <div class="col-10 text-center card o-hidden border-0 shadow-lg p-4 my-5">
            <h1 class="w-100 mb-5 text-uppercase">
                Gérez votre entreprise comme un chef !
            </h1>
            <div class="d-flex flex-column align-items-center">
                <p  id="fontText" class="w-75 text-uppercase">Organiser vos <strong>stocks</strong> et <strong>produits</strong>, enregistrez vos clients pour une <strong>facturation</strong> plus rapide</p>
                <p id="font2" class="font-italic font-weight-bold mt-2">
                    Vous voulez l’essayer vous-même ? <br>
                </p>
                <a id="boutonHover" class="w-50 mt-4" [routerLink]="['/inscription']"><span>
                    Essayez MyBusiness
                </span>
            </a>
                
            </div>
        </div>
    </div>
  
</div>
 