<div class=" d-flex flex-column col bg-light">
     <!-- L'ENTREPRISE -->
     <div class="list-group col bg-light">
        <li class="list-group-item d-flex bg-info text-white justify-content-center align-items-center">
            ENTREPRISE
        </li>
        <li class="list-group-item d-flex justify-content-center align-items-center">
            {{entreprise.name | uppercase}}
        </li>
        <li class="list-group-item d-flex justify-content-center align-items-center">
            {{entreprise.adress}}
        </li>
        <li class="list-group-item d-flex justify-content-center align-items-center">
            {{entreprise.number}}
        </li>
        <li class="list-group-item d-flex justify-content-center align-items-center">
            {{entreprise.email}}
        </li>
    </div>
    <div class="justify-content-around row mt-5">
        <!-- LES PRODUITS -->
        <ul class="list-group col">
            <li class="list-group-item bg-info d-flex text-white justify-content-center align-items-center">
                PRODUITS
            </li>
            <div *ngFor="let item of listProduits">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge text-left col">{{item.designation | uppercase}}</span>
                    <span class="badge text-left rounded-pill col">{{item.stock}}</span>
                    <span class="badge text-left rounded-pill col">{{item.prix | currency :'EUR':'€'}}/Unité</span>
                </li>
            </div>
            <div class="d-flex flex-row mt-3 ">
                <button type="button" class="col-4 btn btn-info " (click)="ajoutChampProduit()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                      </svg>
                <span class="ml-2 align-items-center">Ajouter</span>
                </button>
        
            </div>
        </ul>
       
        <ul class="list-group col-3">
            <li class="list-group-item d-flex bg-info text-white justify-content-center align-items-center">
                CLIENTS
            </li>
            <!-- LES CLIENTS -->
            <div *ngFor="let item of listClients; let i = index">
                
                   
                    <li class="list-group-item d-flex  justify-content-between align-items-center">
                        
                        <span class="badge col-9 border border-primary">{{item.nom | uppercase}}</span>
                      
                       <button *ngIf="!displayMenu" class="btn-info col-2  border border-primary"(click)=displayDetail(item)>Plus</button>
                       
                    </li>
            </div>
            <div class="d-flex flex-row m-5">
                <button type="button" class="col-8 btn btn-info d-flex flex-row justify-content-start" (click)="ajoutChampClient()">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                      </svg>
                <span class="ml-2 align-items-center">Ajouter</span>
                    
                </button>

            </div>
            
        </ul>

    </div>
    <div class="">
        <div class="mb-2  col d-flex justify-content-around ">
            

            <!-- AJOUT DE PRODUITS -->
            <div class="d-flex flex-column col">
                <div class=" ml-2">
                    <form class="form-group mt-5" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                        <div formArrayName="champ"
                            class="d-flex col-12 justify-content-center align-items-center flex-column">
                            <div *ngFor="let item of champ.controls; let i=index">
                                <div [formGroupName]="i" class="row mb-5">
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-2">Désignation</label>
                                        <input class="form-control col" type="text" formControlName="designation">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-2">Prix/U</label>
                                        <input class="form-control col" type="number" formControlName="prix">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-md-2">Stock</label>
                                        <input class="form-control col" type="number" formControlName="stock">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col mt-3">Total du Stock HT</label>
                                        <input class="form-control col" readonly="readonly"
                                            value="{{form.get('champ').value[i].stock * form.get('champ').value[i].prix}} €">
                                    </div>
                                    <button class="btn btn-danger" (click)="suppChamp(i)">Supprimer</button>
                                </div>
                            </div>
                        </div>
                        <p class="d-flex justify-content-center" *ngIf="champ.controls.length > 0">
                            <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Enregistrer mes
                                produits</button>
                        </p>
                        <span>{{messageErrorProduit}}</span>
                    </form>
                </div>
            </div>
            <div class="list-group col"></div>

            <!-- AJOUT DE CLIENTS -->
          
            <div class=" d-flex flex-column col ">
                <div class=" ml-2">
                    <form class="form-group mt-5" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
                        <div formArrayName="champClient"
                            class="d-flex col-12 justify-content-center align-items-center flex-column">
                            <div *ngFor="let item of champClient.controls; let i=index">
                                <div [formGroupName]="i" class="row mb-5">
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-2">NOM</label>
                                        <input class="form-control col" type="text" formControlName="nom">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-2">EMAIL</label>
                                        <input class="form-control col" type="text" formControlName="email">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col-md-2">NUMERO</label>
                                        <input class="form-control col" type="text" formControlName="numero">
                                    </div>
                                    <div class="d-flex col ml-3 flex-column justify-content-center">
                                        <label class="col mt-3">ADRESSE</label>
                                        <input class="form-control col" type="text" formControlName="adresse">
                                    </div>
                                    <button class="btn btn-danger" (click)="suppChampClient(i)">Supprimer</button>
                                </div>
                            </div>
                        </div>
                        <p class="d-flex justify-content-center" *ngIf="champClient.controls.length > 0">
                            <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Enregistrer mes
                                clients</button>
                        </p>
                        <span>{{messageErrorClient}}</span>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="displayDetails" class="col-12">
    <div class="list-group d-flex flex-row col-12 ">
        <li class="list-group-item d-flex col justify-content-around align-items-center">
            <span>{{clientDetail.nom}}</span>

            <span>{{clientDetail.numero}}</span>

            <span>{{clientDetail.adresse}}</span>
        </li>
        
    </div>
</div>

<div class="d-flex justify-content-around mb-5" >                     
    <button class="btn btn-info" (click)="displayFormFacture()">Envoyer une facture</button>
    <button class="btn btn-info">Envoyer un email</button>
</div>
<!-- <button class="btn btn-info" (click)="telecharger()">par requette</button> -->
<a href="http://localhost:8080/pdf/getPdf" class="btn btn-info mb-5" target="blank" >telecharger la facture</a>

<app-form-facture *ngIf="formFacture"></app-form-facture>